@font-face {
    font-family: McLaren;
    font-weight: 400;
    font-style: normal;
    src: local("McLaren"),
         url("../fonts/McLaren-Regular.woff2") format('woff2'),
         url("../fonts/McLaren-Regular.woff") format('woff'),
         url("../fonts/McLaren-Regular.eot") format('eot');
    font-display: swap;
}